.area-tooltip {
    background-color: transparent; /* Прозорий фон */
    color: yellow; /* Жовтий текст */
    font-weight: bold; /* Жирний текст */
    border: 0px solid yellow; /* Без межі */
    font-size: 14px; /* Розмір шрифту */
    padding: 2px; /* Відступи для відстані між текстом та лінією */
    box-shadow: none; /* Прибирає тінь */
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 2px rgba(0, 255, 0, 0.2);
    }
    50% {
        transform: scale(1.02);
        box-shadow: 0 0 4px rgba(0, 255, 0, 0.3);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 2px rgba(0, 255, 0, 0.2);
    }
}

.pulse-button {
    animation: pulse 4s ease-in-out infinite;
}

